* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  font-family: Futura-medium;
  font-weight: 200;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 6em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;
}

h3 {
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 1em;
  }
}
