:root, :before, :after{
  --main-font-color: rgba(35,35,35,1);
  --main-background-color: rgba(255,248,236,1);
  --main-base-color: rgba(252,176,63, 1);
}

.major-sections {
  width: 100vw;
  height: 85vh;
  background-size: cover;
  resize: none;
  overflow-y: scroll;
}

.outline-button, .solid-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  padding-bottom: 3px;
}

.outline-button {
  background-color: transparent;
  backdrop-filter:blur(3px);
  border: 2px solid var(--main-base-color);
}

.solid-button {
  background-color: var(--main-base-color);
}

#hero-section {
  background-image: url(../assets/homepage-images/merchduck_hoodie.webp);
  background-position: center;
}

#hero-section-inner-container {
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 19%;
}

#h1-container {
  display: grid;
}

h1, #h1-shadow {
  font-size: clamp(60px, 4rem, 80px);
  grid-column: 1;
  grid-row: 1;
  z-index: 3;
}

#h1-shadow {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-base-color);
  margin-top: 2px;
  margin-left: 2px;
  z-index: 0;
}

h2 {
  font-size: 25px;
}

.content-container {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  user-select: none;
  -webkit-user-select: none; /*Safari*/
  /* -moz-user-select: none; Firefox */

  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}

#hero-lower-buttons {
  /* width: 270px; */
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */
  justify-content: center;

}

#services-section {
  background-image: url(../assets/homepage-images/TO_Concrete_Cutting_HeatherT_Black_Print.webp);
  background-position: right;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

#faq-section {
  background-image: url(../assets/homepage-images/HouseLA_DAO_Screens.webp);

  display: flex;
  justify-content: center;
  align-items: center;
}

#order-process-container {
  background-color: var(--main-background-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10vw;
  border-radius: 15px;
  padding: 15px;
  padding-bottom: 23px;
}

ol {
  margin-bottom: 15px;
}

ol > li {
  list-style-position: inside;
  padding-top: 10px;
}

ol > li > a {
  text-decoration: underline;
}

#more-work-gallery {
  height: 80vh;
  background-image: url(../assets/homepage-images/HouseLA_DAO_Shirt.webp);
  background-position: center;
}

footer {
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 3px;
}

footer > .solid-button {
  display: none;
}

.brand-logo-container {
  max-height: 40px;
  width: 120px;
  display: flex;
  justify-content: space-around;
}

.brand-logo-container > a {
  max-height: inherit;
}

.brand-logos {
  max-height: inherit;
}

@media only screen and (min-width: 530px) {
    #hero-section {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 0;

  }

  #hero-section-inner-container {
    max-width: 500px;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;

    /* margin-left: 8px; */
    margin-right: 25vw;
  }
  

  #hero-section-inner-container > * {
    margin: 30px 10px;
  }

  footer > .solid-button {
    display: block;
  }

}

 @media only screen and (min-width: 1024px) {
  .major-sections {
    height: 90vh;
  }

  #hero-section-inner-container {
    max-width: 600px;
    margin-right: 20vw;
  }

  #h1-container {
    display: grid;
  }
  
  h1, #h1-shadow {
    font-size: clamp(80px, 3.5rem, 200px);
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
  }
  
  #h1-shadow {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--main-base-color);
    margin-top: 3px;
    margin-left: 3px;
    z-index: 0;
  }

  /* .jiggle {
    position: absolute;
  } */
  
  h2 {
    font-size: 35px;
  }

  .outline-button, .solid-button {
    width: 140px;
    height: 50px;
    font-size: 125%;
  }
  
  #hero-lower-buttons {
    width: 330px;
  }
  
  footer {
    justify-content: space-around;
    padding: 3px;
  }

 }


/* All temp animations here
.fade-in-0-5 {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
.fade-in-1 {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
.fade-in-2 {
  animation: fadeIn 2s forwards;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
.fade-in-3 {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.fade-in-4 {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  15% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  15% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  15% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  15% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  15% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-out-0-5 {
  animation: fadeOut 0.5s;
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -o-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
}
.fade-out-1 {
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
}
.fade-out-2 {
  animation: fadeOut 2s;
  -webkit-animation: fadeOut 2s;
  -moz-animation: fadeOut 2s;
  -o-animation: fadeOut 2s;
  -ms-animation: fadeOut 2s;
}
@keyframes fadeOut {
  100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
  100% { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  100% { opacity: 0; }
}
@-ms-keyframes fadeOut {
  100% { opacity: 0; }
}

 */
