body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.calculator {
  width: 70vw;
  height: 60vh;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.calculator-inputs {
  display: flex;
  flex-wrap: wrap;
}
