.first-content-after-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

h1, h2 {
  font-size: 2em;
  margin: 3px;
}

.table-container {
  margin:20px;
  overflow-x:scroll;
}

tr * {
  padding: 3px;
}

table, tr * {
  border: 1px solid black;
}

.final-quantity {
  text-align: center;
}

#number-of-units {
  padding: 0;
}

p {
  margin: 0px 10px;
}


@media only screen and (min-width:600px) {
  .first-content-after-navbar {
  width: 600px;
  }

  tr * {
    padding: 10px;
  }
}